.navigation {
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: all 0.9s ease-in-out;

        @include respon(tap-port) {
            top: 4.5rem;
            right: 4.5rem;
        }
    }

    &__list {
        list-style: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__item {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__item--num {
        padding-right: 1rem;
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        width: 0;
        opacity: 0;
        transition: all 0.9s cubic-bezier(0.69, -0.58, 0.33, 1.53);
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: $color-white;
        font-size: 3rem;
        font-weight: 300;
        transition: all 0.3s;
        padding: 0.7rem 1.6rem;
        background-size: 214%;
        transition: all 0.5s;
        backface-visibility: hidden;
        display: block;
    }

    &__link:active,
    &__link:hover {
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
        color: $color-primary;
        background-position: 100%;
        transform: translateX(1rem);
    }

    &__checkbox {
        display: none;
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__buttom {
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        background-color: white;
        z-index: 2000;
        text-align: center;

        @include respon(tap-port) {
            top: 4rem;
            right: 4rem;
        }
    }

    &__icon {
        position: relative;
        margin-top: 3.3rem;
        &,
        &::after,
        &::before {
            width: 3rem;
            height: 2px;
            background-color: rgba($color: $color-grey-dark-3, $alpha: 0.8);
            display: inline-block;
        }
        &::after,
        &::before {
            left: 0;
            position: absolute;
            content: "";
            transition: all 0.2s;
        }

        &::after {
            top: 0.8rem;
        }
        &::before {
            top: -0.8rem;
        }
    }
    &__buttom:hover &__icon::after {
        top: 1rem;
        height: 2px;
    }
    &__buttom:hover &__icon::before {
        top: -1rem;
    }

    &__checkbox:checked + &__buttom &__icon::before {
        transform: rotate(135deg);
        top: 0;
    }
    &__checkbox:checked + &__buttom &__icon::after {
        transform: rotate(-135deg);
        top: 0;
    }
    &__checkbox:checked + &__buttom &__icon {
        background-color: transparent;
    }
}
