.u-text-center {
    text-align: center;
}
.u-text-left {
    text-align: left;
}

.u-margin-buttom-small {
    margin-bottom: 1.5rem;
}
.u-margin-bottom-midum {
    margin-bottom: 4rem;
}
.u-margin-bottom-big {
    margin-bottom: 8rem;
    @include respon(tap-port) {
        margin-bottom: 6rem;
    }
}

.u-margin-top-big {
    margin-top: 8rem;

    @include respon(tap-port) {
        margin-top: 2rem !important;
    }
}
.u-margin-top-small {
    margin-top: 2rem;
}
.u-margin-top-midum {
    margin-top: 4rem;
}
